* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #fff;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

body > div {
  max-width: 408px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

img {
  margin-top: 5px;
  width: 40%;
  float: right;
  border: 1px solid #666;
  border-radius: 50%;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dt {
  display: inline-block;
  width: 25%;
  margin-bottom: 10px;
}

dd {
  display: inline-block;
  width: 70%;
}

dt.space {
  margin-top: 0.6rem;
}

ul {
  list-style: none;
  margin-bottom: 2em;
}

ul li {
  margin-bottom: 0.75em;
}

em {
  font-style: normal;
  text-decoration: underline;
}
